[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ???????
[access "refs/*"]
	owner = group user/leafrain8619
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/leafrain8619
	label-Verified = -1..+1 group user/leafrain8619
	push = group user/leafrain8619
	read = group user/leafrain8619
	rebase = group user/leafrain8619
	removeReviewer = group user/leafrain8619
	submit = group user/leafrain8619
[access "refs/heads/*"]
	create = group user/leafrain8619
	push = +force group user/leafrain8619
	pushMerge = group user/leafrain8619
	read = group user/leafrain8619
[access "refs/tags/*"]
	push = group user/leafrain8619
	push = +force group user/leafrain8619
